.logo-container {
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    a {
        font-weight: bold;
        color: #FFFFFF;
    }
    &:after{
        content: "";
        display: block;
        width: 8px;
        height: 4px;
        border-radius: 16px;
        background-color: #FFFFFF;
        transition: 0.5s all ease;
        opacity: 0.5;
    }
    &:hover{
        &:after{
            opacity: 1;
            width: 25%;
        }
    }
}