::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #EBDEF0;
}

::-webkit-scrollbar-thumb {
    background: #8E44AD;
    border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5B2C6F;
}