//Colors

//Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import './Components/Logo';
@import './Components/SideBar';
@import './Components/RightBar';
@import './Components/Footer';
@import './Views/FontsPage';
@import './Views/GeneratorsPage';
@import './Views/PickerPage';
@import './Views/ToolsPage';
@import './Views/NotFoundPage';

//Reset Css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

//Custom Css
.app{
    max-width: 1240px;
    margin: 0 auto;
}
.app-container{
    display: grid;
    grid-template-columns: 340px auto 340px;
}
div,
header,
footer,
main{
    border: 1px solid red;
}